*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/

header{
    width: 100%;
    padding: 22px;
}


.logo{
    margin-right: 50px;
}

.logo-ul{
    list-style-type: none;
    gap: 40px;
}

.logo-ul > li > a{
    text-decoration: none;
    color: #5f5f5f;
}

.logo-ul > li > a:hover{
    text-decoration:underline;
}

.button-ul{
    list-style-type: none;
    gap: 40px;
}

.button-ul > li > a{
    text-decoration: none;
    color: #5f5f5f;
}

.button-ul > li > a:hover{
    text-decoration:underline;
}

.blue-button{
    padding: 5px 10px;
    background-color: #0061ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 2px;
}

.blue-button:hover{
    background-color: #0062ffc4;
}



/*fine header*/

/*main*/

/*jumboclass*/

    h1{
        font-size: 75px;
        font-weight:900;
    }

    .content-p1{
        padding-top: 90px;
        padding-right: 130px;
        font-size: 17px;
    }

    .content-p1 > p{
        margin-bottom: 30px;
    }

    .content-p1 > button{
        margin-bottom: 30px;
    }

    .content-p1 > img{
        margin-top: 40px;
        width: 12%;
    }

    .content-img-jumbo > img{
        width: 100%;
        position: relative;
        top: 85px;
        right: 100px;
    }


/*jumboclass*/

/*plan selection class*/

    /*card class*/

        .content-h2 > h2{
            font-size: 40px;
            margin-bottom: 70px;
            padding-right: 250px;
        }

        .content-radio > label{
            margin-right: 50px;
        }

        .card-head{
            padding: 10px;
        }

        .user{
            width: 13px;
        }

        .team{
            width: 16px;
        }

        .enterprise{
            width: 13px;
        }

        .card-content{
            padding: 40px 40px;
        }

        .card-content > h3{
            font-size: 25px;
            margin-bottom: 20px;
        }

        .card-content > h4{
            margin-bottom: 25px;
        }

        .icons{
            width: 14px;
        }

        .checkmark{
            filter: brightness(0) saturate(100%) invert(33%) sepia(58%) saturate(7480%) hue-rotate(212deg) brightness(99%) contrast(109%);
            width: 15px;
        }

        .card-hr{
            width: 20%;
            color: lightgray;
            margin-bottom: 50px;
        }

    /*card class*/


    .content-partner-img > img{
        width: 600px;
    }   

    .content-partner-p{
        padding-top: 70px;
        padding-right: 130px;
    }

    .content-partner-p > h2{
        margin-bottom: 30px;
    }

    .content-partner-p > p{
        font-size: 18px;
        margin-bottom: 60px;
    }

    .transparent-button{
        padding: 15px 30px;
        background-color: white;
        border: 0.5px solid gray;
        font-size: 17px;
        color: gray;
    }

    .transparent-button:hover{
        background-color: #0061ff;
        border: 0.5px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }

/*plan selection class*/

/*application feature information class*/

    .window{
        padding: 20px;
        margin-bottom: 40px;
        text-align: center;
    }

    .window > img{
        width: 100%;
        margin-bottom: 10px;
    }

    .window > h2{
        margin-bottom: 30px;
    }

    .window > p{
        font-size: 17.5px;
    }

/*application feature information class*/

/*square class*/

    .square{
        width: calc(100% / 3);
        height: calc(100vw / 3);
        background-color: #f5f5f5;
    }

    .small-square{
        width: calc(100% / 2);
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-square{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-square > img{
        width: 50%;
    }

    .designit-svg{
        width: 400px;
        margin-bottom: 50px;
    }

    .square-hr{
        width: 30%;
        margin-bottom: 50px;
    }

    .description{
        font-size: 17px;
        margin-bottom: 70px;
    }

    .credits{
        font-size: 17px;
    }

/*square class*/

/*free trial class*/

    .content-trial{
        font-size: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
        padding-right: 50px;
        color: #6b1f41;
    }

    .content-trial-button{
        padding-top: 175px;
        padding-left: 200px;
    }

    .white-button{
        padding: 15px;
        width: 350px;
        font-size: 17px;
        border: none;
        background-color: white;
    }

    .white-button:hover{
        background-color: #0061ff;
        color: white;
    }

/*free trial class*/

/*faq*/

    .content-faq{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .content-faq > h2{
        font-size: 45px;
        margin-bottom: 50px;
    }

    .content-faq-arrow{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 100%;
    }

    .content-faq-arrow > i:hover{
        transform: rotate(180deg);
    }

/*faq*/

/*fine main*/

/*footer*/

footer{
    width: 100%;
    background-color: black;
}

/*fine footer*/

/*container e row*/

.row{
    display: flex;
    flex-wrap: wrap;
}

.container-70{
    width: 70%;
    margin: 0 auto;
}

.container-60{
    width: calc(60%);
    margin: 0 auto;
}

/*fine container*/

/*colonne*/

.col-100{
    width: calc(100%);
}

.col-80{
    width: 80%;
}

.col-50{
    width: calc(100% / 2);
}

.col-60{
    width: calc(60%);
}

.col-40{
    width: calc(40%);
}

.col-33{
    width: calc(100% / 3);
}

.col-25{
    width: 25%;
}

.col-20{
    width: 20%;
}

/*fine colonne*/

/*classi di utility*/

.flex{
    display: flex;
}

.flex-wrapy{
    flex-wrap: wrap;
}

.align-l{
    justify-content: left;
    align-items: center;
}

.align-r{
    justify-content: right;
    align-items: center;
}

.txt-alg-c{
    text-align: center;
}

.bg-aqua{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color:#0061ff;
}

.bg-yellow{
    background-color: yellow;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: rgb(9, 189, 9);
}

.bg-gold{
    background-color: gold;
}

.bg-purple{
    background-color: purple;
}

.bg-pink{
    background-color: pink;
}

.bg-lightcoral{
    background-color: lightcoral;
}

.gray{
    color: gray;
}

/*padding*/

.padding25{
    padding: 25px;
}

.padding-top120{
    padding-top: 120px;
}

.padding60{
    padding: 60px;
}

.padding-right250{
    padding-right: 250px;
}

.padding-button1010{
    padding: 10px 10px;
}

.padding-bottom10{
    padding-bottom: 45px;
}

.padding-top10{
    padding-top: 45px;
}

.padding-bottom30{
    padding-bottom: 30px;
}

/*margin top*/

.margin-top50{
    margin-top: 50px;
}

.margin-top150{
    margin-top: 150px;
}

/*margin bottom*/

.margin-bottom20{
    margin-bottom: 20px;
}

.margin-bottom30{
    margin-bottom: 30px;
}

.margin-bottom50{
    margin-bottom: 50px;
}

.margin-bottom80{
    margin-bottom: 80px;
}

/* margin right/left */

.margin-right10{
    margin-right: 10px;
}

.margin-left30{
    margin-left: 30px;
}

.border{
    border: 0.5px solid lightgray;
}

.border-bottom{
    border-bottom: 0.5px solid lightgray;
}

.border-top-strong{
    border-top: 1px solid gray;
}

.border-bottom-strong{
    border-bottom: 1px solid gray;
}


.min-h{
    min-height: 1000px;
}

/*fine classi di utility*/