*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/

header{
    width: 100%;
    padding: 22px;
}


.logo{
    margin-right: 50px;
}

.logo-ul{
    list-style-type: none;
    gap: 40px;
}

.logo-ul > li > a{
    text-decoration: none;
    color: #5f5f5f;
}

.logo-ul > li > a:hover{
    text-decoration:underline;
}

.button-ul{
    list-style-type: none;
    gap: 40px;
}

.button-ul > li > a{
    text-decoration: none;
    color: #5f5f5f;
}

.button-ul > li > a:hover{
    text-decoration:underline;
}

.blue-button{
    padding: 5px 10px;
    background-color: #0061ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 2px;
}

.blue-button:hover{
    background-color: #0062ffc4;
}



/*fine header*/

/*main*/

h1{
    font-size: 75px;
    font-weight:900;
}

.content-p1{
    padding-top: 65px;
    padding-right: 130px;
    font-size: 17px;
}

.content-p1 > p{
    margin-bottom: 30px;
}

.content-p1 > button{
    margin-bottom: 30px;
}

.content-p1 > img{
    margin-top: 40px;
    width: 12%;
}

.content-img-jumbo > img{
    width: 100%;
    position: relative;
    top: 65px;
    right: 100px;
}

.content-h2 > h2{
    font-size: 30px;
    margin-bottom: 70px;
}

.content-radio > label{
    margin-right: 50px;
}

/*fine main*/

/*footer*/

footer{
    width: 100%;
    background-color: black;
}

/*fine footer*/

/*container e row*/

.row{
    display: flex;
    flex-wrap: wrap;
}

.container-70{
    width: 70%;
    margin: 0 auto;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

/*fine container*/

/*colonne*/

.col-100{
    width: calc(100% - 10px);
}

.col-50{
    width: calc(100% / 2);
}

.col-50-square{
    width: calc(100% / 2);
}

.col-60{
    width: calc(60%);
}

.col-40{
    width: calc(40%);
}

.col-33{
    width: calc(100% / 3);
}

.col-25{
    width: 25%;
}

.col-20{
    width: calc(100% / 5);
}

/*fine colonne*/

/*classi di utility*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.align-l{
    justify-content: left;
    align-items: center;
}

.align-r{
    justify-content: right;
    align-items: center;
}

.bg-aqua{
    background-color: #b4d0e7;
}

.py-top120{
    padding-top: 120px;
}

.mrg-left{
    margin-left: 30px;
}

.py-button{
    padding: 10px 10px;
}

.txt-alg-c{
    text-align: center;
}

/*fine classi di utility*/