*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/

header{
    width: 100%;
    background-color: black;
}


/*fine header*/

/*main*/

/*fine main*/

/*footer*/

footer{
    width: 100%;
    background-color: black;
}

/*fine footer*/

/*container e row*/

.row{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 0);
    padding: 1px;
}

.container-full{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.container-70{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(217, 0, 255);
    padding: 5px;
}

.container-60{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(242, 255, 0);
    padding: 5px;
}

/*fine container*/

/*colonne*/

.col-100{
    width: calc(100% - 10px);
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

.col-50{
    width: calc(50% - 10px);
    height: 50px;
    background-color: rgb(168, 165, 116);
    margin: 5px;
}

.col-50-square{
    width: calc(50% - 10px);
    height: 50px;
    background-color: rgb(116, 168, 123);
    margin: 5px;
}

.col-60{
    width: calc(60% - 10px);
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

.col-40{
    width: calc(40% - 10px);
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

.col-33{
    width: calc(33.3% - 10px);
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 1px;
}

.col-20{
    width: calc(20% - 10px);
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

/*fine colonne*/

/*classi di utility*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.align-l{
    justify-content: left;
    align-items: center;
}

.align-r{
    justify-content: right;
    align-items: center;
}

.bg-aqua{
    background-color: aqua;
}

/*fine classi di utility*/